@import "tailwindcss";

:root {
  --background: #FFF9E6;
  --foreground: #2D3748;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4A5568;
    --foreground: #FFF9E6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Anta', sans-serif;
}
